.contenedor-malla {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

.semestre {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.semestre h2 {
  margin-bottom: 10px;
  color: #137d78;
}
